$backgrnd: #2ecc71;

body {
  color: #000000;
  margin: 0; padding: 0;
  font-family: sans-serif;
}
.clear {
  float: none;
}
.wrap {
  overflow: hidden;
}
.head {
  background: $backgrnd;
  color: #FFF;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  overflow: hidden;
}
.head .logo {
  font-size: 24px;
  float: left;
  margin-left: 48px;
}
.head .menu {
  float: right;
  margin-right: 30px;
}
.head .menu ul {
  list-style: none;
  float: right;
  margin: 0; padding: 0;
}
.head .menu ul li  {
  display: inline-block;
}
.head .menu ul li a, .head .menu ul li button {
  display: block; 
  /*float: left;*/
  padding-right: 18px; padding-left: 18px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.head .menu ul li button {
  background: $backgrnd;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  outline: none;
}
.username {
  margin-top: -1px;
  padding-left: 48px;
  padding-bottom: 10px;
  background: $backgrnd;
  color: white;
}
.content {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 20px;
}
.article-block {
  margin-bottom: 40px;
}
.article-block h4, .article-block p {
  margin-top: 10px;
  margin-bottom: 12px;
}
.article-block a {
  color: $backgrnd;
  cursor: pointer;
  margin-left: 90px;
}
.article-img, .l-article-img {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  border: 2px solid $backgrnd;
}
.link {
  margin-top: 16px;
}
.paginate {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: -10px;
}
.paginate a, .form .button {
  display: block; 
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: $backgrnd;
  margin: 10px 30px 10px 0; 
  border-radius: 10px;
  cursor: pointer;
}
.pagenum {
  float: left;
  margin: 10px 30px 10px 0;
  padding: 10px 20px;
  color: $backgrnd;
}
.form {
  width: 462px;
  padding: 0 15px 64px;
  border: solid $backgrnd 1px;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.form .button {
  margin-top: 0;
  border: none;
}
.form button:focus {
  border-color: #FFF;
  outline: none;
}
.form input, .form textarea {
  width: 450px;
  padding: 0 5px;
  margin-bottom: 12px;
  border: solid $backgrnd 1px;
  border-radius: 5px;
  font: inherit;
  font-size: 14px;
}
.form input {
  height: 24px;
}
.form textarea {
  height: 120px;
}
.comment-block {
  border: solid 2px $backgrnd;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}
.comment-block p {
  margin-top: 5px;
  margin-bottom: 5px; 
}
.comment-block p.author {
  padding-left: 40px;
}
.what-about {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
}
.red input, .red textarea {
  border-color: red;
  border-width: 2px;
}
.center {
  margin: 30px auto 50px;
}
.wo-title {
  padding-top: 30px;
}
.no-login {
  color: red;
  float: right;
}